<div
  class="flex xl:justify-content-around lg:justify-content-around md:justify-content-around sm:justify-content-start justify-content-start gap-4 flex-wrap mt-4 xl:flex-row md:flex-row sm:flex-column flex-column"
>
  <div class="flex flex-column gap-2">
    <span class="text-xl font-bold"> Phone </span>
    <span> (+91) 9717572728 </span>
  </div>

  <div class="flex flex-column gap-2">
    <span class="text-xl font-bold"> Email </span>
    <span>
      <a href="mailto:develop.sonu@gmail.com">{{ "develop.sonu@gmail.com" }}</a>
    </span>
  </div>

  <div class="flex flex-column gap-2">
    <span class="text-xl font-bold"> Follow me </span>
    <span class="flex gap-2">
      <a
        style="color: black"
        href="https://www.linkedin.com/in/sonu-a6465b22a"
        target="_blank"
      >
        <i class="cursor-pointer pi pi-linkedin" style="font-size: 1rem"></i>
      </a>

      <a style="color: black" href="https://x.com/Sonu09434732" target="_blank">
        <i class="cursor-pointer pi pi-twitter" style="font-size: 1rem"></i>
      </a>
    </span>
  </div>
</div>
