.circle {
    width: 20px;
    height: 20px;
    background-color: var(--yellow);
    border-radius: 50%;
}

.active-link {
    color: #007bff; /* Change this to your desired color */
    font-weight: bold; /* Optional: Make it bold */
    text-decoration: underline; /* Optional: Add underline */
  }