<div>
    <h2>PROJECTS</h2>
    <div>
      <span class="text-xl font-bold">Appointment Booking system</span>
      <p>
        ● Appointment Booking System with distinct modules for Admin and Customer,
        supporting multi-tenant architecture for use across various businesses.
      </p>
      <p>
        ● Enabled multi-tenant configuration, allowing different businesses to
        customize and configure the application to suit their specific needs.
      </p>
      <p>
        ● Implemented customizable customer portal settings through the admin
        module, providing flexibility in how the application is tailored for
        different users.
      </p>
      <p>
        ● Designed and managed features for admin users, including staff, rooms,
        and exam scheduling, with options to set availability times, handle
        absences, and configure dynamic weekly practice hours.
      </p>
      <p>
        ● Streamlined appointment management, allowing for easy rescheduling,
        editing, and real-time updates within the calendar interface.
      </p>
    </div>
  
    <div class="mt-4">
      <span class="text-xl font-bold">Open Saving Account</span>
      <p>
        ● Contributed to the development of a savings account opening platform for
        a leading bank, focusing on user-friendly onboarding processes.
      </p>
      <p>
        ● Implemented government APIs for PAN and Aadhaar validation, ensuring
        regulatory compliance and enhancing account security.
      </p>
      <p>
        ● Integrated a secure payment gateway to facilitate smooth transactions
        during the account opening process.
      </p>
      <p>
        ● Integrated a third-party video KYC (vKYC) portal, enabling remote
        verification of customer identity.
      </p>
    </div>
  
    <div class="mt-4">
      <span class="text-xl font-bold">Check ATM Transaction</span>
      <p>
        ● Developed a comprehensive software solution that tracks all ATM
        transactions, awarding points based on transaction activity.
      </p>
      <p>
        ● Implemented a point redemption system allowing users to convert earned
        points into cash deposited directly into their bank accounts.
      </p>
      <p>
        ● Designed and built an intuitive dashboard providing an overview of
        customer data, including transaction history and point balances.
      </p>
    </div>
  </div>