<div class="h-full">
  <div
    class="flex info gap-6 flex-wrap-reverse justify-content-center align-items-center"
  >
    <div>
      <img
        class="img"
        src="https://static.wixstatic.com/media/c837a6_a5f904abc9224779abfc65cb53fa6ba7~mv2.jpg/v1/crop/x_158,y_151,w_1117,h_1117/fill/w_600,h_600,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/gettyimages-1284121212-2048x2048_edited_.jpg"
        alt="user"
      />
      <!-- https://i.ibb.co/QH2tqWL/sonuimg.jpg -->
    </div>
    <div class="flex flex-column xl:w-6 sm:max-w-full gap-2">
      <span class="hello font-semibold">Hello</span>
      <span class="text-2xl font-bold">A Bit About Me</span>
      <span
        >Web developer with over 3+ years of experience with strong knowledge of
        Angular, JavaScript, TypeScript, HTML and CSS.</span
      >
    </div>
  </div>
  <hr />

  <div class="flex justify-content-around flex-wrap mt-4">
    <div class="flex flex-column gap-2">
      <span class="text-xl font-bold"> Phone </span>
      <span> (+91) 9717572728 </span>
    </div>

    <div class="flex flex-column gap-2">
      <span class="text-xl font-bold"> Email </span>
      <span>
        <a href="mailto:develop.sonu@gmail.com">{{'develop.sonu@gmail.com'}}</a>
      </span>
    </div>

    <div class="flex flex-column gap-2">
      <span class="text-xl font-bold"> Follw me </span>
      <span> Twitter </span>
    </div>
  </div>
</div>
