<div class="h-full">
  <div
    class="flex info gap-6 flex-wrap-reverse justify-content-center align-items-center"
  >
    <div>
      <img
        class="img"
        src="https://i.ibb.co/QH2tqWL/sonuimg.jpg"
        alt="user"
      />
      <!-- https://i.ibb.co/QH2tqWL/sonuimg.jpg -->
    </div>
    <div class="flex flex-column xl:w-6 sm:max-w-full gap-2">
      <span class="hello font-semibold">Hello</span>
      <span class="text-2xl font-bold">A Bit About Me</span>
      <span
        >Web developer with over 3+ years of experience with strong knowledge of
        Angular, JavaScript, TypeScript, HTML and CSS.</span
      >
    </div>
  </div>
</div>
