<header class="flex justify-content-between py-4 px-2">
<div class="flex gap-2 align-items-center font-bold">
    <div class="circle"></div>
    <span>Sonu</span>
    <span class="font-light text-sm">Software Engineer</span>
</div>
<div class="flex align-items-center gap-2">
    <span class="p-1">Resume</span>
    <div class="h-1rem border-1"></div>
    <span class="p-1">Projects</span>
    <div class="h-1rem border-1"></div>
    <span class="p-1">Contact</span>
</div>
</header>
<router-outlet/>